<link rel="stylesheet" href="/css/style.css">


<!-- this code is from bootstrap site and then edited to make it as per our need-->

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <!-- medium screen size tak horizontal navbar rahega uske baad vertical -->
  <!-- border-bottom is added manually to get border at bottom of navbar -->
  <!-- sticky-top keeps the navbar fixed -->
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <!-- Icon is added in Navbar from font awesome, redirects to home -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="    Search destinations"
            aria-label="Search" />
          <button class="btn  search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <!-- ms-auto brings the div in right side -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser){ %>
          <a class="nav-link" aria-current="page" href="/login"><b>Log In</b></a>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <% } %>
            <% if(currUser){ %>
              <a class="nav-link" href="/logout"><b>Log Out</b></a>
              <% } %>
                <!-- if req.user==undefined means not logged in , then only show login and signup -->
      </div>

    </div>
  </div>
</nav>